<p>Dear {{ user.username }},</p>
<p>
    To reset your password
    <!-- _external ensures that full link is generated not just /reset_password-->
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        click here
    </a>.
    To view/modify your db data go here:
    <a href="{{ url_for('view_db', _external=True) }}">click herez!</a>
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>The Microblog Team</p>